[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ucsfindustrydocs"]
	path = ucsfindustrydocs
	url = https://github.com/cran/ucsfindustrydocs
